/* Add these styles to your App.css file or create a new stylesheet */

.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #3498db;
  outline: none;
}

/* Styling for chips */
.chip {
  display: inline-flex;
  align-items: center;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

.chip button {
  background: none;
  border: none;
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
}

/* Styling for the suggestion list */
div > div {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}



div > div img {
  border-radius: 50%;
  margin-right: 8px;
}
.menu-bar{
  display: flex;
  flex-direction: column;
}
